body {
	background: black;
	margin: 100px;
}

.flag{
	width:600px;
	height:375px;
	background:white;
	display:table-cell;
	vertical-align:middle;
}

.round-red{
	width:200px;
	height:200px;
	background:#BC002D;
	border-radius:50%;
}